/*Apply To Most Styles*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: prompt;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0px;
  border: 1px solid red;
}



a {
  color: blue;
}

main {
    width: 90%;
    height: 1200px;
    margin: 20px 80px;
}

/* Header & Nav Bar */

.accent-line {
  width: 100%;
  height: 14px;
  flex-shrink: 0;
  background-color: #ff6d2c;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  border-bottom: 1px solid #000;
  width: 85%;
  height: 100px;
  display: flex;
  align-items: center;
}

.nav-links {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 80px;
}

.nav-links h3 {
  font-size: 22px;
  font-family: Prompt;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
  color: #000;
  margin-left: 40px;
}

.nav-links a {
  text-decoration: none;
}

.nav-links h3:hover {
  color: #6b4423;
}

.logo img {
  width: 180px;
  height: 70px;
  margin-left: 80px;
}


/* Hero Section */

.landing-page {
    height: 600px;
}


