/*Apply To Most Styles*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: prompt;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0px;
}

a {
  color: blue;
}

main {
  width: 90%;
  height: 1200px;
  margin: 20px 80px;
}

/* 

CSS CONTENTS

 1. Header & Nav Bar 
 2. Hero Section
 
*/

/* Header & Nav Bar */

.accent-line {
  width: 100%;
  height: 5px;
  flex-shrink: 0;
  background-color: #cc461b;
}

/* Hero Section */

.hero-section {
  background: url(../Images/Hero-Image.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: height 0.5s ease;
}

.hero-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
  left: 0px;
  z-index: 0;
}

/* Inspired by the best in fitness cuisine section */

.InspiredLogosContainer {
  display: flex;
  flex-direction: column;
  background: rgba(51, 51, 51, 0.05);
}

.logos {
  display: flex;
  justify-content: space-around;
}

.information h2 {
  color: var(--gc-grey-450, #666);
  text-align: center;
  font-family: Prompt;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
}
