/*Apply To Most Styles*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: prompt;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0px;
  
}

a {
  color: blue;
}

main {
  width: 90%;
  height: 1200px;
  margin: 20px 80px;
}

/* 

CSS CONTENTS

 1. Header & Nav Bar 
 2. Hero Section
 
*/

/* Header & Nav Bar */

.accent-line {
  width: 100%;
  height: 5px;
  flex-shrink: 0;
  background-color: #cc461b;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  border-bottom: 1px solid #fff;
  width: 85%;
  height: 100px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.nav-links {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 80px;
}

.nav-links h3 {
  font-size: 22px;
  font-family: Prompt;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
  color: #fff;
  margin-left: 40px;
}

.nav-links a {
  text-decoration: none;
}

.nav-links h3:hover {
  color: #6b4423;
}

.logo {
  width: 200px;
  height: auto;
  margin-left: 60px;
  margin-top: 10px;
}

.logo img {
  width: 100%;
  height: auto;
}












/* Hero Section */

.hero-section {
  background: url(../Images/Hero-Image.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: height 0.5s ease;
}

@media (max-width: 767px) {
  .hero-section {
    height: 80vh;
  }
}

.hero-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
  left: 0px;
  z-index: 0;
}


/* Inspired by the best in fitness cuisine section */

.InspiredLogosContainer {
  display: flex;
  flex-direction: column;
  background: rgba(51, 51, 51, 0.05);
  padding: 35px;
  padding-bottom: 70px;
  
  
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  
}

.information h2 {
color: var(--gc-grey-450, #666);
text-align: center;
font-family: Prompt;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.8px;
padding-top: 40px;


}
.Best {
  text-decoration: underline;
}
  
.orangePattern {
  width: 90px;
  height: 190px;
}

